<div class="w-full text-center mt-20">
  <h1 class="text-3xl font-bold text-gray-800 mb-4">
    р╕вр╕┤р╕Щр╕Фр╕╡р╕Хр╣Йр╕нр╕Щр╕гр╕▒р╕Ъ, <%= current_user.email %> ЁЯСЛ
  </h1>
  <p class="text-gray-600">р╕Др╕╕р╕Ур╣Ар╕Вр╣Йр╕▓р╕кр╕╣р╣Ир╕гр╕░р╕Ър╕Ър╣Ар╕гр╕╡р╕вр╕Ър╕гр╣Йр╕нр╕вр╣Бр╕ер╣Йр╕з</p>
</div>
